:root {
    --clr-grey: #a1a1a1;
    --clr-dark-grey: hsl(0, 0%, 27%);

    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;
}

/* Box sizing rules */
*,

*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
    margin: 0;
}

ul {
    padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
ul {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]),
a {
    text-decoration-skip-ink: auto;
    text-decoration: none;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* grid areas */
.slider-container {
    grid-area: slider-container;
}

.hero-slide {
    grid-area: hero-slide;
}

.hero-img {
    grid-area: hero-img;
}

.section-hero {
    grid-area: section-hero;
}

.dark-img {
    grid-area: dark-img;
}

.hero-img img {
    height: 100%;
}

.article {
    grid-area: article;
}

.light-img {
    grid-area: light-img;
}

/* gria areas */
body {
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 2.2rem;
    line-height: 1;
}

h2 {
    font-size: 1rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
}

p {
    color: var(--clr-grey);
}

.dim {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    z-index: 75;
    opacity: 1;
    visibility: visible;
    position: fixed;
}

.btn {
    border: 0;
    background-color: black;
    cursor: pointer;
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    position: absolute;
    left: 20px;
    top: 40px;
    z-index: 1000;
}

.section-hero {
    position: relative;
}


.header {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.primary-nav ul {
    display: flex;
    padding-right: 2.5em;
}

.primary-nav li+li {
    margin-left: clamp(1.5rem, 3.5vw, 3.25rem);
}

.primary-nav li {
    position: relative;
}

.primary-nav li::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    background-color: #000;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    transition: all 0.4s ease;
    transform-origin: center;
}

.primary-nav li:hover::after {
    transform: scaleX(1);
}

@media (max-width: 950px) {
    .logo {
        margin-top: 2.75rem;
        z-index: 50;
        width: 90px;
    }

    .primary-nav {
        position: absolute;
        top: 0;
        background-color: #fff;
        width: 100%;
        height: 0;
        opacity: 0;
        transition: all 0.4s ease;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        z-index: 100;
    }

    .primary-nav[data-visible=true] {
        height: 100px;
        opacity: 1;
    }
}

@media(min-width: 450px) {
    .primary-nav {
        justify-content: center;
    }
}

@media (min-width: 950px) {
    .header {
        top: 50px;
        left: 50px;
        width: auto;
        align-items: center;
        justify-content: center;
    }

    .nav-toggle {
        display: none;
    }

    .primary-nav {
        z-index: 500;
    }

    .logo {
        z-index: 50;
        width: 100px;
        margin-right: min(4vw, 4rem);
    }

    .primary-nav li {
        color: #fff;
        font-size: 1.3rem;
    }

    .primary-nav li::after {
        background-color: #fff;
    }
}

.section-hero {
    padding: 3em 1.5em;
}


.section-hero p {
    margin: 1rem 0 1.75rem 0;
}

.cta {
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    font-weight: var(--fw-500);
    transition: all 0.25s ease;
}

.cta:hover {
    color: var(--clr-grey);
    letter-spacing: 0.85rem;
}

.cta .arrow,
.arrow path {
    transition: all 0.25s ease;
}


.cta:hover .arrow {
    transform: translateX(10px) scale(1.25);
}

.cta:hover .arrow path {
    fill: #a1a1a1;
}

.hero-img {
    position: relative;
}

.btn {
    position: absolute;
    padding: 1.25em 1.5em;
    transition: 0.25s ease;
}

.btn:hover {
    background-color: var(--clr-grey);
}

.btn--prev {
    bottom: 0;
    right: 60px;
}

.btn--next {
    bottom: 0;
    right: 0;
}

.article {
    padding: 3em 1.5em;
}

.article p {
    margin-top: 1rem;
}

.hero-slide {
    display: grid;
    grid-template-areas:
        'hero-img'
        'section-hero'
}

.main-grid {
    display: grid;
    grid-template-areas:
        'slider-container slider-container'
        'dark-img light-img'
        'article article'
}

.dark-img,
.light-img,
.hero-img img {
    width: 100%;
    height: 100%;
}

@media (min-width: 450px) {
    .main-grid {
        grid-template-areas:
            'slider-container slider-container'
            'dark-img light-img'
            'article article'
    }
}

@media (min-width: 848px) {

    .hero-slide {
        display: grid;
        grid-template-areas: 'hero-img hero-img section-hero';
    }

    .section-hero {
        align-self: center;
    }

    .logo {
        margin-right: 27rem;
    }


}

@media (min-width: 950px) {
    .logo {
        margin-right: min(4vw, 4rem);
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.3rem;
        letter-spacing: 0.6rem;
    }

    p {
        font-size: 1.05rem;
    }


    .cta {
        font-size: 1.2rem;
    }

    .hero-slide {
        display: grid;
        grid-template-columns: 1fr 1fr 152px 1fr;
        grid-template-areas: 'hero-img hero-img section-hero section-hero';
    }

    .article {
        padding: 2em 2.5em;
        align-self: center;
    }

    .section-hero {
        padding: 0 min(6vw, 6em);
        align-self: center;
    }
}

@media (min-width: 1350px) {
    .main-grid {
        grid-template-columns: 1fr 1fr 188px 1fr;
        grid-template-areas:
            'slider-container slider-container slider-container slider-container'
            'dark-img article article light-img'
    }

    .hero-slide {
        grid-template-columns: 1fr 1fr 188px 1fr;
        grid-template-areas: 'hero-img hero-img section-hero section-hero';
    }

    .section-hero {
        padding-bottom: 3em;
    }

    .btn {
        position: absolute;
        padding: 1.8em 2.5em;
        z-index: 100;
    }

    .btn--prev {
        right: -94px;
    }

    .btn--next {
        bottom: 0;
        right: -188px;
    }
}

/* slider */

.hero-slide {
    display: none;
}

.hero-slide.active {
    display: grid;
}

/* slider */